# Core testing
pytest==8.4.2
pytest-xdist==3.8.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-base-url==2.1.0
pytest-rerunfailures==16.0.1

# Playwright
playwright==1.55.0
pytest-playwright==0.7.1

# Reporting
allure-pytest==2.15.0

# Utilities
requests==2.32.5
Faker==37.8.0